/*------*/
/* Vars */
/*------*/
/* Colors */
:root {
  --stm__color: #bf9cce;
  --highlight__color: #ffffff; }

/* Sizes */
/* QR Data Fiscal */
/* Animations */
/* Pre-defined duration for animations */
/* Zoom effect size 110% */
/* Media Querys */
/**********/
/* Common */
/**********/
#datafiscal {
  height: 8rem; }

.text-stm {
  color: var(--stm__color); }

/*-------*/
/* Forms */
/*-------*/
.btn-outline-stm {
  color: var(--stm__color);
  border-color: var(--stm__color); }
  .btn-outline-stm:hover {
    color: var(--highlight__color);
    background-color: var(--stm__color); }

/*------------*/
/* Animations */
/*------------*/
.hover__zoom {
  transition: transform 0.5s; }
  .hover__zoom:hover {
    transform: scale(1.1); }

/*--------*/
/* Header */
/*--------*/
.navbar-dark .navbar-nav .nav-link {
  color: var(--stm__color); }

/*--------*/
/* Footer */
/*--------*/
footer section:first-of-type {
  border-bottom: 1px solid var(--stm__color); }

/*------------*/
/* Components */
/*------------*/
/*-------------*/
/* Testimonial */
/*-------------*/
.testimonial__img {
  align-self: center;
  width: 60%;
  border-radius: 50%;
  border: 0.3rem solid var(--stm__color); }

/*------*/
/* Card */
/*------*/
.card-title {
  color: var(--stm__color); }

.card q {
  font-style: italic; }

/*---------*/
/* Masonry */
/*---------*/
.masonry__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.masonry__gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.masonry__gallery .gallery__img--horizontal {
  grid-column: span 2; }

.masonry__gallery .gallery__img--vertical {
  grid-row: span 2; }

/* Tablet Media Query */
@media screen and (min-width: 768px) {
  .masonry__gallery {
    grid-template-columns: repeat(4, 1fr); } }

/* Desktop Media Query */
@media screen and (min-width: 992px) {
  .masonry__gallery {
    grid-template-columns: repeat(6, 1fr); } }
