/*------*/
/* Vars */
/*------*/
:root {
  --stm__color: #bf9cce;
  --highlight__color: #ffffff;
  --alpha_gray__color: rgba(85, 85, 85, 0.5); }

/**********/
/* Common */
/**********/
#datafiscal {
  height: 8rem; }

.text-stm {
  color: var(--stm__color); }

* {
  font-family: 'Nunito', sans-serif; }

/*-------*/
/* Forms */
/*-------*/
.btn-outline-stm {
  color: var(--stm__color);
  border-color: var(--stm__color); }
  .btn-outline-stm:hover {
    color: var(--highlight__color);
    background-color: var(--stm__color); }

/*------------*/
/* Animations */
/*------------*/
.hover__zoom {
  transition: transform 0.5s; }
  .hover__zoom:hover {
    transform: scale(1.1); }

.fadeIn {
  animation: fade_In 0.5s;
  -webkit-animation: fade_In 0.5s;
  -moz-animation: fade_In 0.5s;
  -o-animation: fade_In 0.5s;
  -ms-animation: fade_In 0.5s; }

@keyframes fade_In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade_In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade_In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade_In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fade_In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*--------*/
/* Header */
/*--------*/
.navbar-dark .navbar-nav .nav-link {
  color: #bf9cce; }

/*--------*/
/* Footer */
/*--------*/
footer section:first-of-type {
  border-bottom: 1px solid var(--stm__color); }

/*------------*/
/* Components */
/*------------*/
/* Card */
.card-title, .modal-title {
  color: var(--stm__color); }

.card q {
  font-style: italic; }

.card a {
  color: var(--stm__color);
  font-weight: bold;
  text-decoration: none; }

.card__testimonial__img {
  align-self: center;
  width: 60%;
  border-radius: 50%;
  border: 0.3rem solid var(--stm__color); }

.card img.img-fluid {
  height: 100%;
  object-fit: cover; }

/* Modal */
.modal-title {
  font-style: italic; }

/* Masonry */
.masonry__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media screen and (min-width: 768px) {
    .masonry__gallery {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (min-width: 992px) {
    .masonry__gallery {
      grid-template-columns: repeat(6, 1fr); } }
  .masonry__gallery .gallery__img--horizontal {
    grid-column: span 2;
    position: relative;
    overflow: hidden; }
    .masonry__gallery .gallery__img--horizontal:hover .text--center {
      display: block; }
  .masonry__gallery .gallery__img--vertical {
    grid-row: span 2;
    position: relative;
    overflow: hidden; }
    .masonry__gallery .gallery__img--vertical:hover .text--center {
      display: block; }
  .masonry__gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .masonry__gallery .text--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 1rem;
    background-color: var(--alpha_gray__color);
    color: var(--highlight__color); }

/* Copyright footer */
.copyright {
  background-color: rgba(0, 0, 0, 0.1); }
