  /*------------*/
 /* Components */
/*------------*/
    /*-------------*/
   /* Testimonial */
  /*-------------*/
    .testimonial__img {
        align-self: center;
        width: 60%;
        border-radius: 50%;
        border: 0.3rem solid var(--stm-color);
    }

    /*------*/
   /* Card */
  /*------*/
    .card {
        .card-title {
            color: var(--stm-color);
        }
        q {
            font-style: italic;
        }
    }