  /*------------*/
 /* Components */
/*------------*/
    /*-------------*/
   /* Testimonial */
  /*-------------*/
    .testimonial__img {
        align-self: center;
        width: 60%;
        border-radius: 50%;
        border: 0.3rem solid $stm__color;
    }

    /*------*/
   /* Card */
  /*------*/
    .card {
        &-title {
            color: $stm__color;
        }
        q {
            font-style: italic;
        }
    }