  /*-------*/
 /* Forms */
/*-------*/
.btn-outline-stm {
    color: map-get($colors, "stm" );
    border-color: map-get($colors, "stm" );
    &:hover {
        color: highlight__color;
        background-color: map-get($colors, "stm" );
    }
}