  /*------*/
 /* Vars */
/*------*/

/* Colors */
$stm__color: #bf9cce;       /* STM Color */
$highlight__color: #ffffff; /* Highlight color */

/* Sizes */
$qrAfip: 8rem;                /* QR Data Fiscal */

/* Animations */
$duration: .5s;               /* Pre-defined duration for animations */
$zoom: 1.1;                   /* Zoom effect size 110% */