  /*------*/
 /* Vars */
/*------*/

// Colors
$colors: (
  "stm": #bf9cce,             /* STM Color */
  "highlight": #ffffff,       /* Highlight Color */
);

:root {
  @each $color, $var in $colors {
    --#{$color}__color: #{$var};
  }
}

// Sizes
$qrAfip: 8rem;                // QR Data Fiscal

// Animations
$duration: .5s;               // Pre-defined duration for animations
$zoom: 1.1;                   // Zoom effect size 110%

// Media Querys
  // Desktop Media Query
@mixin desktop {     
  @media screen and (min-width: 992px) {
    @content;
  }
}
  // Tablet Media Query
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}